<launch>
  <!-- MuddBot Backbone -->
  <include file="$(find irobot_mudd2)/launch/backbone.launch"/>

  <!-- recording -->
  <!-- Other topics you might want: /camera/rgb/image_color /camera/depth/image /camera/rgb/camera_info"/>-->
  <node pkg="rosbag" type="record" name="rb" args="odom tf scan -o /home/robotics/scanOdomTf"/>
</launch>
